.example-card {
    width: 600px;
  }
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    
  }
  mat-form-field {
    width: 100%;
  }
  button {
    margin-bottom: 10px;
  }
  