.example-spacer {
  flex: 1 1 auto;
}

// .select{
//   color:
// }
.select{
  margin-top: 5px;
}
mat-label{
  color:white;
}
.custom-select{
color:white;
}
// .fixed-header {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000;
// }

// .content-below-header {
//   margin-top: 64px; /* Adjust the margin value based on the height of your fixed header */
// }
