<div class="details">
  <mat-toolbar [ngStyle]="headerStyles?.header" class="fixed-header">
    
    <span>My Blog</span>&nbsp;&nbsp;
    <button mat-flat-button class="example-add" type="submit"
      (click)="addBlog()" >
      <mat-icon>add</mat-icon>
      Add Blog
    </button>
    <span class="example-spacer"></span>
    <span *ngIf="loggedInUsername " [ngStyle]="headerStyles?.username">Welcome {{ loggedInUsername }}</span>
    <button mat-icon-button class="example-icon setting-icon" type="button" (click)="setting()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon"  type="submit"
      (click)="logout()"[ngStyle]="headerStyles?.button">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>