mat-form-field{
    // margin-bottom:20px;
    display:grid;
    width: 100%
}
.setting-card{
    width:500px;
}
.settingcontainer{
    align-items: center;
    justify-content: center;
    display: flex;
    height:100vh;
}
.backbutton {
    margin-left: auto;
}
