<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Please Enter Login Details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Enter your username</mat-label>
            <input matInput name="username" ngModel required #username="ngModel" />
            <mat-error *ngIf="!username.valid">Username required</mat-error>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" ngModel required #password="ngModel" />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword" type="button">
              <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="!password.valid">Password required</mat-error>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
              Login
            </button>
        
          </mat-card-actions>
          <p><a (click)="signup()">Click here to signup</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>